

.single-horizontal-tile{
    color: var(--app-font-color-white);
    font-size: 4vh;
    width: 99vw;
    height:30vw;
    background: #a41034;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 4%; 
    height: 40vw;
    width: 22.25vw;
    display:flex;
    flex-direction:column;
    overflow: hidden; 
    
}

.single-horizontal-tile img
{
        
        width:100%;
        height:60%;
        object-fit: cover; 
       

}

.single-horizontal-tile .mahasamvit-edu-faculty-details
{
       height:40%;
       width:100%;
       background: #dcdcdc;
       color : #000000;
       /* font-family: Georgia; */
       text-align: left;
       padding :20px 12px;
       margin: 0px 20px;
       font-size:60%;
}

.mahasamvit-edu-faculty-name
{
    font-size: 130%;
    font-weight: 640;
    padding :0 20px;
}


.mahasamvit-edu-faculty-courses-taught
{
    font-weight: 600;
    padding :0 20px;
}

p {
     padding :0 20px;
}