div#homepage-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  font-size: clamp(1.2rem, 3vw, 3rem) !important;  
}

/* =============== TIMELINE WRAPPER + LINE =============== */
.timeline-wrapper {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

.timeline-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 3%;
  height: 100%;
  transform: translateX(-50%);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 10px;
  opacity: 0.7;
}

/* =============== TIMELINE ITEM (CIRCLE) =============== */
.timeline-item {
  width: 30%;
  aspect-ratio: 1 / 1;
  background: #000;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  margin: 70px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:  var(--app-bg-color);
  font-size: 150%;
  font-family: "Inter", sans-serif;

  transition: 0.3s ease;
    box-shadow:
      0px 18px 200px rgba(0,0,0,0.95),      /* Bigger soft dark drop shadow */
    0 0 200px rgba(255,255,255,0.95);     /* Bigger subtle glow */
}

.timeline-item:hover {
  transform: translateY(-4px);
}

/* .timeline-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;   
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid #000;
  border-radius: 50%;
  z-index: 5;
} */
/* 
.timeline-item::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 80px;
  background: #000;
  opacity: 0.6;
  transform: translateY(-50%);
  z-index: 3;
  margin-left : 60%;
}  */

/* LEFT CHILD: line goes LEFT -> circle */
.timeline-item.left {
  margin-left: 10%;
}
.timeline-item.left::before {
  left: 50%;
  width: calc(50% - 40px);
}

/* RIGHT CHILD: line goes RIGHT -> circle */
.timeline-item.right {
  margin-left: 63%;
}
.timeline-item.right::before {
  right: 50%;
  width: calc(50% - 40px);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .timeline-wrapper::before {
    left: 30px;
  }

  .timeline-item {
    width: 55%;
    margin-left: 70px !important;
  }

  .timeline-item::after {
    left: 30px;
  }

  .timeline-item::before {
    left: 30px;
    width: 35px !important;
  }
}
