.pop-up
{

    position: fixed;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(4px);
    transform: translate(-50%, -50%);

    z-index : 999;

    width: 70%;
    height: 90%;
    background: white;


}