main {
  /* background-color:  #8D021F; */
  /* color: black; */
  /* padding: 5vh; */

}

/* 
header
{
    text-align: center;
    display:flex;
    direction:row;
    gap:5vw;
    background-color:#EAD7D7;
    padding: 5vh;
    width: 100vw;
    justify-content: center;
    align-items: center;   
    
}

header > * {
    width: 50vw;       
    text-align: center;
}


header h2{

    text-align: right;
}
 */
