.triple-text-cover
{

    background:  var(--app-bg-color) ;
    font-size: 500%;
    font-weight: bold;
    color : white;
    height: 50vh;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap:1%;
}


.triple-text-cover-text img
{
    width: 33vw;

}




/* 

.only-text-cover-text::before
{ 
    
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );

  position: absolute;
  top: 0;
left: 0;
    width: 100%;
    height: 100%;
      content: "";
      z-index: -1;
}
*/
.triple-text-cover-text
{
    flex:1;
    z-index: 999;
    background: var(--app-bg-color) ;
    color:white;
    font-size: 100%;
    text-align: center;


}
