

#mahasamvit-edu-course-career-opp
{
    background-color: #8D021F;
    color:#FFF;
    padding: 5vh 5vh;
    

}


#mahasamvit-edu-course-career-opp h1
{
    text-align: right;
    padding-right: 3vw;

}

.career-opp-details
{
    display: flex;
    flex-direction: row;



}

.career-opp-details-text
{
    font-size: 130%;
    margin-bottom: 10%;
}


.career-opp-details ul
{
    display: flex;
    color:#FFF;
    padding-left: 3vw;
    list-style-type: none;
    


}

.career-opp-details ul li
{
    border-left: 5px solid white;
    padding-left: 3vw;
    padding-right: 3vw;


}
 
/* .career-opp-details li::marker 
{
    color: #EAD7D7;
    padding-left: 3vw;
}  */