section{

  /* background-color: #8D021F; */
}

div#homepage-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* centers it perfectly */
  z-index: 10;                       /* ensures it appears above image */
  color: #a41034;
  text-align: center;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  
  /* 👇 Responsive font size */
  font-size: clamp(1.2rem, 3vw, 3rem) !important;
  /* font-size:10vw; */
  
}


#homepage-links
{
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  font-size: 50%;
  font-weight: 500;

}

