.course-summary
{

    background : #EAD7D7;
    width: 100vw;
    display:flex;
    flex-direction:column;
}

.header-section
{
    padding: 0.5vh 1vw;
    font-size: 300%;
    font-weight: bold;
}

.specific-career-opprtunity-container {

    position: fixed;
    z-index: 2;
    top:0;
    right: 0;

    width: 100vw;
    height: 99vh;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(50px); 
}

.summary p
{
    text-align: center;
    font-size: 1em;
}

.specific-career-opprtunity-heading
{
    display: flex;
    height: 7vh;
    gap : 30vw;
    justify-content: space-between;
    /* align-items: center; */
    /* padding : 0vh 15vw; */
    /* margin-top: 7vh ; */
    white-space: nowrap;
}

.specific-career-opprtunity-list
{

    /* padding : 2vh 15vw; */
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.specific-career-opprtunity-list > *
{
    width : 40%;
    height: 100%;
}

.specific-career-opprtunity-container option
{
    width : 20vw;
    height: 10vh;
    background-color: black;
    /* margin: 1vh; */
    font-size: 2em;
    text-align : center;
    justify-content: center;
    border-radius: 8px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}

.specific-career-opprtunity-container option:hover
{

    background-color: white;
    color : black;
    


    

}

.specific-career-opprtunity-media
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    max-width: 100vw;
    padding: 2vw;
    overflow: hidden;

    /* aspect-ratio: 16 / 9; */
    

 }


iframe{

    height: 100%;
    border-radius: 8px;

}


#summary
{
    display: flex;
    direction: column;
    gap: 10vw;
    overflow: hidden;

}

iframe{

    height: 50vh;
    width: 50vw;
    flex: 1;
}

#summary-description
{
    text-align: left;
}

#summary-grid
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5vw;

}

#summary-grid-item {
  display:flex;
  direction:column;
  align-items:center;
  justify-content: center;
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
  font-weight : bold;
}
.course-summary-action
{
    text-align :center;
}

