#mahasamvit-edu-course-faculty
{
    padding: 5vh;
    text-align: center;
    width: 100%;
    max-width: 100vw;
}

.faculty-section-heading
{
    color: white;
    font-size: 300%;
    font-weight: bold;
    width: 100%;
    max-width: 100vw;
}