.single-vertical-section-with-pic 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: #FFF;
    color: var(--app-bg-color);
    margin-top: 20vh 0; 
    /* padding: 5vh; */
    width: 45%;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: auto;
    min-height: 100vh;
    overflow: visible;
    align-items: flex-start;
    border-radius: 20px;
   
}

.single-vertical-section-with-pic > *
{
    flex:1;
    padding: 1%;
    width: 95%;
    margin: 2% auto;
    padding: 0% 2%;

}

.single-vertical-section-with-pic img {
    max-height: 60vh;
    width: 95%;
    max-width: 95%;
    height: auto;     
    object-fit: cover;
    border-radius: 20px;
   
}
